trigger:
- none

pool: MyPool
    
jobs:
 - job: initializeTerraform
   steps:
   - script: |
      terraform init \
      -backend-config="resource_group_name=rajat-practice-RG" \
      -backend-config="storage_account_name=rajatpracticestorage" \
      -backend-config="container_name=statefiles" \
      -backend-config="key=dev.tfstate"
     workingDirectory: $(System.DefaultWorkingDirectory)/Environments/Dev

    

