trigger:
- none

pool: MyPool
    
jobs:
 - job: initializeTerraform
   steps:
   - powershell: |
       terraform init `
       -backend-config="resource_group_name=rajat-practice-RG" `
       -backend-config="storage_account_name=rajatpracticestorage0" `
       -backend-config="container_name=statefiles" `
       -backend-config="key=dev.tfstate"
     workingDirectory:  $(System.DefaultWorkingDirectory)/Environments/Dev

   - powershell: |
       terraform plan -out=tfplan
     displayName: Terraform Plan
     workingDirectory: $(System.DefaultWorkingDirectory)/Environments/Dev

    

