trigger:
- main

pool: Azure Pipelines

stages:
  - stage: terraformInitFmtValidate
    displayName: Terraform InitFmtValidate
    jobs:
      - job: initializeTerraform
        steps:
        - script: terraform init

      - job: formatConfiguration
        steps:
          - script: terraform fmt

      - job: validateConfiguration
        steps:
          - script: terraform validate

  - stage: terraformPlan
    displayName: Plan Terraform configuration
    dependsOn: terraformInitFmtValidate
    jobs:
      - job: terraformPlan
        steps:
          - script: terraform plan
          - task: 

